.loginContainer{
    display: flex;
    height: 100vh;
}

.sectionLeaft{
    display: flex;
    flex-direction: column;
    background-color: #FF972B;
    width: 60%;
}

.containerTitle{
    display: flex;
    flex-direction: column;
}

.imgfoot{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex-grow: 1; 

}

.imgCard{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    object-fit: cover;
}


.sectionRigth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcd3a1;
    width: 40%;
}

#section-form{
    height: 100vh;
}

.back{
    background-image:url("../imagens/fundo.consumo.png");
}


@media screen and (max-width: 1300px) {

    .sectionLeaft{
        display: none;
    }

    .sectionRigth{
        width: 100%;
    }
}
